<div class="bg-coriander bg-coriander-600 bg-coriander-700 bg-coriander-800"></div>
<div class="bg-yellow bg-yellow-600 bg-yellow-700 bg-yellow-800"></div>
<div class="bg-pink bg-pink-600 bg-pink-700 bg-pink-800"></div>
<div class="bg-cascade bg-cascade-600 bg-cascade-700 bg-cascade-800"></div>
<div class="bg-aqua bg-aqua-600 bg-aqua-700 bg-aqua-800"></div>

<div class="hover:bg-coriander hover:bg-coriander-600 hover:bg-coriander-700 hover:bg-coriander-800 text-coriander-800"></div>
<div class="hover:bg-yellow hover:bg-yellow-600 hover:bg-yellow-700 hover:bg-yellow-800 text-yellow-800"></div>
<div class="hover:bg-pink hover:bg-pink-600 hover:bg-pink-700 hover:bg-pink-800 text-pink-800"></div>
<div class="hover:bg-cascade hover:bg-cascade-600 hover:bg-cascade-700 hover:bg-cascade-800 text-cascade-800"></div>
<div class="hover:bg-aqua hover:bg-aqua-600 hover:bg-aqua-700 hover:bg-aqua-800 text-aqua-800"></div>