<div class="bg-teal bg-teal-600 bg-teal-700 bg-teal-800"></div>
<div class="bg-yellow bg-yellow-600 bg-yellow-700 bg-yellow-800"></div>
<div class="bg-orange bg-orange-600 bg-orange-700 bg-orange-800"></div>
<div class="bg-green bg-green-600 bg-green-700 bg-green-800"></div>

<div class="hover:bg-teal hover:bg-teal-600 hover:bg-teal-700 hover:bg-teal-800 text-teal-800"></div>
<div class="hover:bg-yellow hover:bg-yellow-600 hover:bg-yellow-700 hover:bg-yellow-800 text-yellow-800"></div>
<div class="hover:bg-orange hover:bg-orange-600 hover:bg-orange-700 hover:bg-orange-800 text-orange-800"></div>
<div class="hover:bg-green hover:bg-green-600 hover:bg-green-700 hover:bg-green-800 text-green-800"></div>