@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@media (min-width: 1900px){
.container{
  max-width: 90%;
}
}
#__next,body,html{
  height: 100%;
}

.content_min_height{
  min-height: calc(100vh - 230px);
}
.text-block > p{
  margin-top:10px;
  margin-bottom:10px;
}
.slider-centered .slick-slider > .slick-list > .slick-track{
  display: inline-flex;
  align-items: center;
}
.our_team_slider .slick-slider {
  max-height: 620px!important;
  overflow-y: auto;
}

.our_team_slider .slick-slider > .slick-list > .slick-track .slick-slide>div{
  margin-right: 100px;
  padding-left:15px ;
}
.our_team_slider .slick-dots{
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 9;
  margin-top: -42px!important;
  display: block!important;
  width: 20px !important;
}
 .slick-dots{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  
  display: inline-flex!important;
  justify-content: center;
  align-items: center;
  width: 100%;
}
 .slick-dots > li {
  margin:0 5px;
}
 .slick-dots > li > button{
  width: 10px;
  height: 10px;
  background-color: #7eaba1;
  border-radius: 50%;
  font-size: 0;
  text-indent: -9999px;
  padding: 0;
  border: none;
}
b, strong {
  font-weight: bold;
}
.slick-dots > li.slick-active > button{
  background-color: #ffffff!important;
}
.as-slider-arrow .arrow-btn.top-center{
  top: 50%;
  margin-top: -16px
}
.bg-cascade .slick-dots > li > button{
  background-color: #56897d;
}
.layout_team .slick-dots{
  margin-top: 20px;
}
.layout_team.bg-yellow-600 .slick-dots > li > button{
  background-color: rgba(170, 151, 121, var(--tw-bg-opacity));
}
.layout_team.bg-pink-600 .slick-dots > li > button{
  background-color: rgba(186, 156, 147, var(--tw-bg-opacity));
}

.scrollbar ::-webkit-scrollbar {
  width: 10px;
}
.scrollbar ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(107,153,143,0.5);
  border-radius:7px ;
  background-color: rgba(107,153,143,0.5);
}
.scrollbar ::-webkit-scrollbar-thumb {
  background-color: rgba(60,98,92,0.5);
  outline: 0px solid transparent;
  border-radius:7px ;
}
.btn{
  cursor: pointer;
}
.min-h-screen--10{
  min-height: calc(100vh - 80px);
}
.sitemaplist ul li{
padding:5px 0;
}
.sitemaplist ul li ul{
 padding-left: 20px;
}
@media (min-width: 1770px) {
  .xl4-inline-flex{
    display: inline-flex;
  }
}
@media (max-width: 1200px) {
  .min-h-screen--10{
    min-height: calc(100vh - 40px);
  }
}
@media (max-width: 1024px) {
  .md-hidden{
    display: none!important;
  }
}