@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@media (min-width: 1900px){
.container{
  max-width: 90%;
}
}
#__next,body,html{
  height: 100%;
}
#main-content{
  overflow: auto;
}
.content_min_height{
  min-height: calc(100vh - 230px);
}
 .slick-dots{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  
  display: inline-flex!important;
  justify-content: center;
  align-items: center;
  width: 100%;
}
 .slick-dots > li {
  margin:0 5px;
}
 .slick-dots > li > button{
  width: 10px;
  height: 10px;
  background-color: #7eaba1;
  border-radius: 50%;
  font-size: 0;
  text-indent: -9999px;
  padding: 0;
  border: none;
}
b, strong {
  font-weight: bold;
}
.slick-dots > li.slick-active > button{
  background-color: #ffffff!important;
}

.bg-cascade .slick-dots > li > button{
  background-color: #56897d;
}
.layout_team .slick-dots{
  margin-top: 20px;
}
.layout_team.bg-yellow-600 .slick-dots > li > button{
  background-color: rgba(170, 151, 121, var(--tw-bg-opacity));
}
.layout_team.bg-pink-600 .slick-dots > li > button{
  background-color: rgba(186, 156, 147, var(--tw-bg-opacity));
}